:root {
    --pri-color: #00A6FB;
    --sec-color: #006494;
    --tri-color: #051923;
    --white-color: #FAFFFD;
    --black-color: #313638;
}

.comic-relief-regular {
  font-family: "Comic Relief", system-ui;
  font-weight: 400;
  font-style: normal;
}

.comic-relief-bold {
  font-family: "Comic Relief", system-ui;
  font-weight: 700;
  font-style: normal;
}

html {
    background-color: var(--white-color);
    font-family: "Comic Relief", system-ui;
}

.header {
    display: flex;
}

img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 50px;
    width: 600px;
    height: 400px;

    border-style: solid;
    border-radius: 10px;
    border-width: 12px;
    border-color: var(--sec-color);
    
    box-shadow: 8px 8px 5px rgba(5, 25, 35, 0.3);
}

.links, li {
    display: flex;
    align-items: center;
    margin: 50px;
}

#lasag,
#ham,
#cnr,
#pasta {

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;

    text-decoration: none;
    color: var(--pri-color);
}

.links:hover {
    color: var(--sec-color);
    
}

.info, .links {
    margin-left: auto;
    margin-right: auto;
}
